@page
@model MojoEvents.Pages.ChartpageModel
@{
    ViewData["Title"] = "Chartpage";
    ViewData["CurrentPage"] = "analytics";
    Layout = "~/Pages/_Layout.cshtml";
}

<div id="Analyse_id">
    <h1>Analytics</h1>
    <p>Bekijk hier onze analyse</p>
    <hr />

    <button>Download .pdf</button>
</div>