@page
@model festivalsModel
@{
}

<h1>Festivals.</h1>
<hr />
<table>
    <tr>
        <th colspan="2">Festivals</th>
    </tr>
    @foreach(Festival festival in Model.GetFestivals())
    {
    <tr>
        <td>@festival.EventName</td>
        <td><input type="button" name="delete" value="@festival.EventName"/></td>
    </tr>

    }
</table>