@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["CurrentPage"] = "home";
}

<h1>Mojo Events, DE manier om uw festival te promoten.</h1>
<mojo-carrousel interval="5000">
    <img src="images/paaspop.jpg" Text="Paaspop">
    <img src="images/pinkpop.jpg" Text="Pinkpop">
    <img src="images/wwe.jpg" Text="We Are Electric">
</mojo-carrousel>
