@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["CurrentPage"] = "home";
}

<h1>Mojo Events, DE manier om uw festival te promoten.</h1>
<mojo-carrousel interval="5000">
    <img src="images/paaspop.jpg" bottom>
    <img src="images/pinkpop.jpg" center>
    <img src="images/wwe.jpg" bottom>
</mojo-carrousel>
<div id="index_text">
    <h2>Welkom bij Mojo!</h2>
    <p>
        Welkom bij Mojo.<br />
        Wij bij Mojo dachten, waarom krijgen grote festivals altijd de meeste aandacht.<br />
        Dat kan toch anders, want kelinere festivals kunnen net zo leuk zijn als groteren.<br />
        Daarom nodigen we u uit om keleinere festivals hier bij ons te promoten.<br />
        Hier boven kunt u de festivallen zien die u heeft toegevoegt. En ook zelf nieuwe pagina's toevoegen.
    </p>
</div>