@page
@model MojoEvents.Pages._InlogUsersModel
@{
    ViewData["Title"] = "Inlog";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Inlog</h2>
<form methode="get" action="">
    <table>
        <tr>
            <td>
                Inlognaam:
            </td>
            <td>
                <input id="naam" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                wachtwoord:
            </td>
            <td>
                <input id="wachtwoord" type="password" />
            </td>
        </tr>
        </tr>
        <tr>
            <td>
                <input id="inloggen" type="submit" value="Inloggen" />
            </td>
        </tr>
    </table>
</form>


