@page
@model MojoEvents.Pages.InlogUsersModel
@{
    ViewData["Title"] = "InlogUsers";
    Layout = "~/Pages/_Layout.cshtml";
}

<div id="Inlogusers">
    <h1>Inloggen</h1>
    <div>
        <form method="post" action="~/Pages/InlogUsers.cshtml">
            <table>
                <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        <input id="TXTnaam" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        <input id="TXTww" type="password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="Ssubmit" type="submit" value="Inloggen" />
                    </td>
                </tr>
            </table>
        </form>
        </div>
    </div>
