@page
@model MojoEvents.Pages.InlogUsersModel
@{
    ViewData["Title"] = "InlogUsers";
    ViewData["HideNav"] = true;
    Layout = "~/Pages/_Layout.cshtml";
}
<h1>Inloggen</h1>
<hr />
@if (ViewData["Message"] != null)
{
    <p class="warning">@ViewData["Message"]</p>
}
<!--TODO: Style this page better-->

<form method="post">
    <table>
        <tr>
            <th>Login</th>
            <th></th>
        </tr>
        <tr>
            <td>
                Gebruikersnaam:
            </td>
            <td>
                <input name="UserName" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Wachtwoord:
            </td>
            <td>
                <input name="Password" type="password" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Inloggen" />
            </td>
        </tr>
    </table>
</form>
