@page
@model MojoEvents.Pages.UsersModel
@{
    ViewData["Title"] = "Users";
    ViewData["CurrentPage"] = "users";
}

<h1>Sub-Users</h1>
<hr />
<p>Deze lijst bevat al uw sub-users, deze users kunnen vooraf bepaalde dingen aan uw festival veranderen.</p>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <p class="warning">@Model.Message</p>
}
<form method="post">
    <table class="interactive">
        <tr>
            <th>Gebruikers</th>
            <th></th>
            <th><a asp-page="./Editor" class="add-new">🞥</a></th>
        </tr>
        @foreach (Models.User User in Model.GetUsers())
        {
            <tr>
                <td><a asp-page="./Editor" asp-route-id="@User.UserID">@User.UserName</a></td>
                <td></td>
            </tr>

        }
    </table>
</form>