@page
@model MojoEvents.Pages.UsersModel
@{
    ViewData["Title"] = "Users";
    ViewData["CurrentPage"] = "users";
}

<h1>Sub-Users</h1>
<hr />
<p>Deze lijst bevat al uw sub-users, deze users kunnen vooraf bepaalde dingen aan uw festival veranderen.</p>

<table>
    <tr>
        <th>
            Gebruikers
        </th>
        <th/>
    </tr>
    @if (Model.Users != null)
    {
        @while (Model.Users.Read())
        {
            <tr>
                @for (int i = 0; i < Model.Users.FieldCount; i++)
                {
                    <td>@Model.Users.GetValue(i);</td>

                }               
                <td class="DropMenu">
                    <img src="~/Images/DropDownIcon.png" id="Target" />
                    <div>
                        <div>
                            <
                        </div>
                    </div>
                </td>
            </tr>
        }
    }
</table>