@page
@model MojoEvents.Pages.UsersModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Users</h2>
@while(Model.Users.Read())
{
    <p>@Model.Users.GetValue(0)</p>
}