@page
@model MojoEvents.Pages.UsersModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Sub-Users</h2>
<p>Deze lijst bevat al uw sub-users, deze users kunnen vooraf bepaalde dingen aan uw festival veranderen.</p>
<div id="sUsers">
    <table>
        <tr>
            <th>
                Gebruikers
            </th>
        </tr>
        @while (Model.Users.Read())
        {
            <tr>
                <td>
                    @Model.Users.GetValue(1)
                </td>
                <td>
                    
                </td>
            </tr>
        }
    </table>
</div>

